

# YOUR DETAILS
UPTIME_API_URL = 'http://127.0.0.1:5000'  # DOMAIN OR IP ADDRESS OF YOUR UPTIME KUMA INSTANCE
UPTIMEKUMA_USERNAME=
UPTIMEKUMA_PASSWORD=

# UPTIME ROBOT API AUTH
UPTIMEROBOT_URL="https://api.uptimerobot.com/v2/getMonitors"
UPTIMEROBOT_API_KEY=

# OPTIONS
SKIP_PAUSED_MONITORS = FALSE  # SKIP PAUSED MONITORS
EXPIRE_NOTIFICATION = FALSE  # SEND NOTIFICATION WHEN MONITOR SSL EXPIRES (HTTPS MONITORS ONLY)
START_CLEAN = TRUE  # CLEAN ALL MONITORS FROM UPTIME KUMA BEFORE SYNCING